/* General Styles */
body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe6d5;
    color: #4d3e3e;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
}

h1, h2 {
    margin: 0;
}

header {
    background-color: #d9a58b;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    flex: 1;
}

button.hamburger {
    display: none; /* Initially hidden, visible on smaller screens */
    background-color: #d9a58b;
    color: white;
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

/* Sidebar Styles */
.sidebar {
    background-color: #4d3e3e;
    color: white;
    width: 250px;
    padding: 20px;
    position: relative;
    transition: transform 0.3s ease;
}

.sidebar.hidden {
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
    transition: transform 0.3s ease;
}

/* Ensure visibility on PC */
@media (min-width: 769px) {
    .sidebar {
        transform: none; /* Always visible on larger screens */
    }

    button.hamburger {
        display: none; /* Hide hamburger menu on larger screens */
    }
}


.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 10px 0;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 5px;
    background-color: #6b504a;
    transition: background-color 0.3s;
}

.sidebar nav ul li a.active {
    background-color: #d9a58b;
}

.sidebar nav ul li a:hover {
    background-color: #b3614b;
}

.content {
    flex: 1;
    padding: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    button.hamburger {
        display: block;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1000;
        transform: translateX(-100%);
    }

    .sidebar.hidden {
        transform: translateX(-100%);
    }

    .content {
        padding: 10px;
        font-size: 1em;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    p {
        font-size: 1em;
    }
}
